<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout/layout :: head">
</head>

<body>
	<header th:replace="layout/layout :: header"></header>
	<div class="container">
		<div class="card border-light"
			style="margin-bottom: 2%; margin-top: 0.5%;">
			<div class="card-header">
				<h4>Gestion de Clientes</h4>
			</div>
			<div class="card-body text-primary">
				<div class="my-2 text-center">
					<a class="btn btn-primary btn-lg"
						href="/tools-app/gestion-clientes/registrar-cliente">Nuevo
						Cliente</a>
				</div>
				<br />
				<div class="input-group">
					<input type="text" class="form-control"
						placeholder="(Nombre o C&#233;dula)"
						aria-label="Recipient's username with two button addons">
					<button class="btn btn-outline-success" type="button">Buscar</button>
					<button class="btn btn-outline-danger" type="button">Limpiar</button>
				</div>
				<br />
				<div class="table-responsive">
					<table id="table" class="table table-bordered table-striped">
						<thead>
							<tr class="align-middle" style="text-align: center">
								<th>Nombre</th>
								<th>Apellido</th>
								<th>Cédula</th>
								<th>Telefono</th>
								<th>
									<div class="container">
										<div class="row">
											<div class="col">Acciones</div>
										</div>
										<div class="row" style="font-size: 70%;">
											<div class="col">Editar</div>
											<div class="col">Eliminar</div>
										</div>
									</div>
								</th>
							</tr>
						</thead>
						<tbody class="text-center">
							<tr th:each="cliente : ${clientes}">
								<td th:text="${cliente.nombre}" />
								<td th:text="${cliente.apellido}" />
								<td th:text="${cliente.cedula}" />
								<td th:text="${cliente.telefono}" />
								<td>
									<div class="row">
										<div class="col text-center">
											<a
												th:href="@{/gestion-clientes/registrar-cliente/} + ${cliente.id}"
												style="cursor: pointer"><img class="img-fluid"
												th:src="@{/images/iconos/pencil.png}" /></a>
										</div>
										<div class="col text-center">
											<a
												th:href="@{/gestion-clientes/eliminar-cliente/} + ${cliente.id}"
												style="cursor: pointer"><img class="img-fluid"
												th:src="@{/images/iconos/trash-bin.png}"
												onclick="return confirm('¿Estás seguro?')" /></a>
										</div>
									</div>
								</td>
							</tr>
						</tbody>
					</table>
					<nav th:replace="paginator-nav :: paginator">					
					</nav>
				</div>
			</div>
		</div>
	</div>

	<footer th:replace="layout/layout :: footer"></footer>
</body>

</html>