<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout/layout :: head">
</head>

<body>
	<header th:replace="layout/layout :: header"></header>
	<!-- Inicio de card con el form-->
	<div class="container">
		<div class="card border-light" style="margin-bottom: 2%; margin-top: 0.5%;">
			<div class="card-header">
				<h4>Nuevo Cliente</h4>
			</div>
			<div class="card-body">
				<form th:action="@{/gestion-clientes/registrar-cliente}" th:object="${cliente}" method="POST">
					<div class="container">
						<div class="row">
							<div class=" col-sm">
								<label for="nombre" style="font-weight: bold;" class="col-form-label">Nombre:</label>
								<input id="nombre" type="text" class="form-control" th:field="*{nombre}" required>
							</div>
							<div class=" col-sm">
								<label for="apellido" style="font-weight: bold;"
									class="col-form-label">Apellido:</label>
								<input id="apellido" type="text" class="form-control" th:field="*{apellido}" required>
							</div>
						</div>
						<div class="row">
							<div class=" col-sm">
								<label for="cedula" style="font-weight: bold;" class="col-form-label">Cedula:</label>
								<input id="cedula" type="number" class="form-control" th:field="*{cedula}" required>
								<div  th:if="${#fields.hasErrors('cedula')}" th:errors="*{cedula}" class="alert alert-danger" role="alert">
								</div>
							</div>
							<div class=" col-sm">
								<label style="font-weight: bold;" for="telefono" class="col-form-label">Celular:</label>
								<input id="telefono" type="number" class="form-control" th:field="*{telefono}" required>
							</div>
						</div>
						<div class="row">
							<div class=" col-sm text-center">
								</br>
								<button type="submit" class="btn btn-success">Guardar</button>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>

	<footer th:replace="layout/layout :: footer"></footer>
</body>

</html>