<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout/layout :: head">
</head>

<body>
	<header th:replace="layout/layout :: header"></header>
	<!-- Inicio de card con el form-->
	<div class="container">
		<div class="card border-light" style="margin-bottom: 2%; margin-top: 0.5%;">
			<div class="card-header">
				<h4>Nuevo Cliente</h4>
			</div>
			<div class="card-body">
				<form th:action="@{/gestion-clientes/registrar-cliente}" method="POST">
					<div class="container">
						<div class="row">
							<div class=" col-sm">
								<label for="nombre" style="font-weight: bold;" class="col-form-label">Nombre:</label>
								<div class="col-sm-6"></div>
								<input type="text" class="form-control" name="nombre">
							</div>
							<div class=" col-sm">
								<label for="apellido" style="font-weight: bold;"
									class="col-form-label">Apellido:</label>
								<div class="col-sm-6"></div>
								<input type="text" class="form-control" name="apellido">
							</div>
						</div>
						<div class="row">
							<div class=" col-sm">
								<label for="cedula" style="font-weight: bold;" class="col-form-label">Cedula:</label>
								<div class="col-sm-6"></div>
								<input type="number" class="form-control" name="cedula">
							</div>
							<div class=" col-sm">
								<label style="font-weight: bold;" for="telefono" class="col-form-label">Celular:</label>
								<div class="col-sm-6"></div>
								<input type="text" class="form-control" name="telefono">
							</div>
						</div>
						<div class="row">
							<div class=" col-sm text-center">
							</br>
								<button type="submit" class="btn btn-success">Guardar</button>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>

	<footer th:replace="layout/layout :: footer"></footer>
</body>

</html>