<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
   <head>
      <div th:replace="fragments/layout :: headFragment"></div>
   </head>
   <body>
      <header th:replace="fragments/layout :: header"></header>
      <div class="container my-2">
         <h4 th:text="#{txt.customers}"></h4>
         <hr width=100%>
         <div>
            <div class="my-3 text-center">
               <a class="btn btn-primary btn-lg" href="/tools-app/customer-management/customer-form" th:text="#{txt.new.customer}"></a>
            </div>
            <div class="input-group">
               <input id="searchField" type="text" class="form-control" placeholder="(Nombre o C&#233;dula)"
                  th:value="${searchField}">
               <button id="searchButton" class="btn btn-outline-success" type="button"
                  onclick="return searchCustomer()" th:text="#{txt.search}"></button>
               <button id="clearSearchButton" class="btn btn-outline-danger" type="button"
                  onclick="return clearSearchBar()" th:text="#{txt.clear}"></button>
            </div>
            <div class="container">
               <div class="row">
                  <div id="warningNoText" class="alert alert-danger" style="display: none" role="alert" th:text="#{error.search.bar.empty}">						
                  </div>
               </div>
            </div>
            <br />
            <div class="table-responsive">
               <table id="table" class="table table-bordered table-striped">
                  <thead>
                     <tr class="align-middle" style="text-align: center">
                        <th th:text="#{txt.customer.name}"></th>
                        <th th:text="#{txt.customer.last.name}"></th>
                        <th th:text="#{txt.customer.identification}"></th>
                        <th th:text="#{txt.customer.phone}"></th>
                        <th>
                           <div class="container">
                              <div class="row">
                                 <div class="col" th:text="#{txt.actions}"></div>
                              </div>
                              <div class="row" style="font-size: 70%;">
                                 <div class="col" th:text="#{txt.edit}"></div>
                                 <div class="col" th:text="#{txt.remove}"></div>
                              </div>
                           </div>
                        </th>
                     </tr>
                  </thead>
                  <tbody class="text-center">
                     <tr th:each="customer : ${customers}">
                        <td th:text="${customer.name}" />
                        <td th:text="${customer.lastName}" />
                        <td th:text="${customer.identification}" />
                        <td th:text="${customer.phone}" />
                        <td>
                           <div class="row">
                              <div class="col text-center">
                                 <a th:href="@{/customer-management/customer-form/} + ${customer.id}"
                                    style="cursor: pointer"><img class="img-fluid"
                                    th:src="@{/images/iconos/pencil.png}" /></a>
                              </div>
                              <div class="col text-center">
                                 <a th:href="@{/customer-management/delete-customer/} + ${customer.id}"
                                    style="cursor: pointer"><img class="img-fluid"
                                    th:src="@{/images/iconos/trash-bin.png}"
                                    onclick="return confirm('¿Estás seguro?')" /></a>
                              </div>
                           </div>
                        </td>
                     </tr>
                  </tbody>
               </table>
               <nav th:replace="fragments/paginator-nav :: paginator">
               </nav>
            </div>
         </div>
      </div>
      <footer>
         <div th:replace="fragments/layout :: footerFragment"></div>
      </footer>
   </body>
</html>