<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<div th:replace="fragments/layout :: headFragment"></div>
</head>

<body>
	<header th:replace="fragments/layout :: header"></header>
	<div class="container my-2">
		<h4 th:text="#{txt.orders.management}"></h4>
		<hr width=100%>
		<div>
			<div class="my-3 text-center">
				<a class="btn btn-primary btn-lg" href="/tools-app/order-management/order-form"
					th:text="#{txt.new.order}"></a>
			</div>
			<div class="input-group">
				<input id="searchField" type="number" class="form-control" placeholder="(N.º de orden o c&#233;dula del cliente)" th:value="${searchField}">
				<button class="btn btn-outline-success" type="button" th:text="#{txt.search}" onclick="return searchOrder()"></button>
				<button class="btn btn-outline-danger" type="button" th:text="#{txt.clear}" onclick="return clearSearchBar('/tools-app/order-management/orders')"></button>
			</div>
			<br />
			<div class="table-responsive">
				<table id="table" class="table table-bordered table-striped">
					<thead>
						<tr class="align-middle" style="text-align: center">
							<th style="text-align: center" th:text="#{txt.order.number.symbol}"></th>
							<th style="text-align: center" th:text="#{txt.customer}"></th>
							<th style="text-align: center" th:text="#{txt.order.entry.date}"></th>
							<th style="text-align: center" th:text="#{txt.order.cost}"></th>
							<th style="text-align: center" th:text="#{txt.order.state}"></th>
							<th>
								<div class="container">
									<div class="row">
										<div class="col">Acciones</div>
									</div>
									<div class="row" style="font-size: 70%;">
										<div class="col" th:text="#{txt.edit}"></div>
										<div class="col" th:text="#{txt.remove}"></div>
										<div class="col" th:text="#{txt.details}"></div>
										<div class="col" th:text="#{txt.hand.over}"></div>
										<div class="col" th:text="#{txt.print}"></div>
									</div>
								</div>
							</th>
						</tr>
					</thead>
					<tbody class="text-center">
						<tr th:each="order : ${workOrders}">
							<td th:text="${order.id}" />
							<td th:text="${order.customer.name}+' '+${order.customer.lastName}" />
							<td th:text="${order.entryDate}" />
							<td th:text="${order.repairCost}" />
							<td th:text="${order.orderStatus}" />
							<td>
								<div class="row">
									<div class="col text-center">
										<a th:href="@{/order-management/order-form/} + ${order.id}"
											style="cursor: pointer"><img class="img-fluid"
												th:src="@{/images/iconos/pencil.png}" /></a>
									</div>
									<div class="col text-center">
										<a th:href="@{/order-management/delete-order/} + ${order.id}"
											style="cursor: pointer"><img class="img-fluid"
												th:src="@{/images/iconos/trash-bin.png}"
												onclick="return confirm('¿Estás seguro?')" /></a>
									</div>
									<div class="col text-center">
										<a th:href="@{/order-management/delete-order/} + ${order.id}"
											style="cursor: pointer"><img class="img-fluid"
												th:src="@{/images/iconos/details.png}" /></a>
									</div>
									<div class="col text-center">
										<a th:href="@{/order-management/delete-order/} + ${order.id}"
											style="cursor: pointer"><img class="img-fluid"
												th:src="@{/images/iconos/giving.png}" /></a>
									</div>
									<div class="col text-center">
										<a th:href="@{/order-management/delete-order/} + ${order.id}"
											style="cursor: pointer"><img class="img-fluid"
												th:src="@{/images/iconos/printer.png}" /></a>
									</div>
								</div>
							</td>
						</tr>
					</tbody>
				</table>
				<nav th:replace="fragments/paginator-nav :: paginator">
				</nav>
			</div>
		</div>
	</div>
	<footer>
		<div th:replace="fragments/layout :: footerFragment"></div>
	</footer>
</body>

</html>