<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<div th:replace="fragments/layout :: headFragment"></div>
	<!-- Select2 CSS -->
	<link rel="stylesheet" type="text/css" th:href="@{/css/select2.min.css}" />
</head>

<body>
	<header th:replace="fragments/layout :: header"></header>
	<div class="my-2 container">
		<h4 th:text="#{txt.new.order}"></h4>
		<hr width=100%>
		<div>
			<form th:action="@{/order-management/order-form}" th:object="${workOrder}" method="POST">
				<div class="container">
					<div class="row">
						<div class="col-sm">
							<label for="customer" style="font-weight: bold" class="col-form-label"
								th:text="#{txt.customer}"></label>
							<select id="selectCustomer" style="width: 100%;" th:field="*{customer}" required>
								<option selected th:text="#{txt.seleccione.cliente}" value=""></option>
								<option th:each="customer : ${customers}"
									th:text="${customer.name}+' '+${customer.lastName}+' - C.C. '+${customer.identification}"
									th:value="${customer.id}"></option>
							</select>
						</div>
						<div class="col-sm">
							<label for="entryDate" style="font-weight: bold;" class="col-form-label"
								th:text="#{txt.order.entry.date}"></label>
							<input type="date" class="form-control form-control-sm" th:field="*{entryDate}" required>
						</div>
					</div>
					<div class="row">
						<div class="col-sm">
							<label for="toolName" style="font-weight: bold;" class="col-form-label"
								th:text="#{txt.order.tool}+':'"></label>
							<input type="text" class="form-control form-control-sm" th:field="*{toolName}" required>
						</div>
						<div class="col-sm">
							<label for="toolBrand" style="font-weight: bold;" class="col-form-label"
								th:text="#{txt.order.tool.brand}+':'"></label>
							<input type="text" class="form-control form-control-sm" th:field="*{toolBrand}" required>
						</div>
					</div>
					<div class="row">
						<div class="col-sm">
							<label for="toolModel" style="font-weight: bold;" class="col-form-label"
								th:text="#{txt.order.tool.model}+':'"></label>
							<input type="text" class="form-control form-control-sm" th:field="*{toolModel}" required>
						</div>
						<div class="col-sm">
							<label for="toolSerial" style="font-weight: bold;" class="col-form-label"
								th:text="#{txt.order.tool.serial}+':'"></label>
							<input type="number" class="form-control form-control-sm" th:field="*{toolSerial}" required>
						</div>
					</div>
					<div class="row">
						<div class="col-sm">
							<label for="reportedIssue" style="font-weight: bold;" class="col-form-label"
								th:text="#{txt.order.issue}+':'"></label>
							<input type="text" class="form-control form-control-sm" th:field="*{reportedIssue}" required>
						</div>
						<div class="col-sm">
							<label for="repairCost" style="font-weight: bold;" class="col-form-label"
								th:text="#{txt.order.repair.cost}+':'"></label>
							<div class="input-group mb-3">
								<div class="input-group-prepend">
									<span class="input-group-text" id="basic-addon1">$</span>
								</div>
								<input type="number" class="form-control form-control-sm" th:field="*{repairCost}" required>
							</div>
						</div>
					</div>
					<div class="form-group">
						<label for="comments" style="font-weight: bold;" class="col-form-label"
							th:text="#{txt.order.comments}+':'"></label>
						<textarea class="form-control form-control-sm" th:field="*{comments}"></textarea>
					</div>
				</div>
				<div class="py-3 text-center">
					<button class="btn btn-success" th:text="#{txt.save}"></button>
				</div>
			</form>
		</div>
		<footer>
			<div th:replace="fragments/layout :: footerFragment"></div>
			<!-- jQuery -->
			<script th:src="@{/js/jquery-3.6.0.min.js}"></script>
			<!-- Select2 JS -->
			<script th:src="@{/js/select2.min.js}"></script>
			<script>
				$(document).ready(function () {
					$("#selectCustomer").select2();
				});
			</script>
		</footer>
</body>

</html>