<!-- ******Inicio ****** -->
<div class="breadcumb-area" style="background-image: url(assets/img/modulos-img/cabecera1.jpg);">
  <div class="container h-100">
    <div class="row h-100 align-items-center">
      <div class="col-12">
        <div class="bradcumb-title text-center">
          <h2>{{ !cliente.id? 'Crear Cliente': 'Editar Cliente' }}</h2>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="breadcumb-nav">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#"><i class="fa fa-home" aria-hidden="true"></i></a></li>
            <li class="breadcrumb-item"><a href="/clientes"><i aria-hidden="true"></i>Clientes</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{ !cliente.id? 'Nuevo Cliente': 'Editar' }}</li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
</div>
<!-- ****** Fin Encabezado ****** -->

<!-- Inicio de card con el form-->
<div class="container">
  <div class="card border-dark" style="margin-bottom: 2%; margin-top: 0.5%;">
    <div class="card-header bg-dark text-white" style="text-align: center; font-weight: bold;">Cliente</div>
    <div class="card-body">
      <form #clienteForm="ngForm" >
        <div class="container">
          <div class="row">
            <div class="form-group col-sm">
              <label for="nombre" style="font-weight: bold;" class="col-form-label">Nombre:</label>
              <div class="col-sm-6"></div>
              <input type="text" class="form-control" [(ngModel)]="cliente.nombre" name="nombre" required
                #nombre="ngModel">
              <div class="alert alert-danger" *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)"
                style="width:100%">
                <div *ngIf="nombre?.errors.required" style="width:100%">
                  Este campo es requerido
                </div>
              </div>
              <!--El ngModel apunta al atributo que estara en la calase componente -->
            </div>
            <div class="form-group col-sm">
              <label for="apellido" style="font-weight: bold;" class="col-form-label">Apellido:</label>
              <div class="col-sm-6"></div>
              <input type="text" class="form-control" [(ngModel)]="cliente.apellido" name="apellido" required
                #apellido="ngModel">
              <div class="alert alert-danger" *ngIf="apellido.invalid && (apellido.dirty || apellido.touched)"
                style="width:100%">
                <div *ngIf="apellido?.errors.required" style="width:100%">
                  Este campo es requerido
                </div>
              </div>
            </div>
            <div class="form-group col-sm">
              <label for="cedula" style="font-weight: bold;" class="col-form-label">Cedula:</label>
              <div class="col-sm-6"></div>
              <input type="number" class="form-control" [(ngModel)]="cliente.cedula" name="cedula" required
                #cedula="ngModel">
              <div class="alert alert-danger" *ngIf="cedula.invalid && (cedula.dirty || cedula.touched)"
                style="width:100%">
                <div *ngIf="cedula?.errors.required" style="width:100%">
                  Este campo es requerido
                </div>
              </div>
            </div>
            <div class="form-group col-sm">
              <label style="font-weight: bold;" for="telefono" class="col-form-label">Celular:</label>
              <div class="col-sm-6"></div>
              <input type="text" class="form-control" [(ngModel)]="cliente.telefono" name="telefono" required
                #telefono="ngModel">
              <div class="alert alert-danger" *ngIf="telefono.invalid && (telefono.dirty || telefono.touched)"
                style="width:100%">
                <div *ngIf="telefono?.errors.required" style="width:100%">
                  Este campo es requerido
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="text-center">
          <button class="btn btn-primary btn-lg" role="button" (click)='create()'
            *ngIf="!cliente.id; else elseBlock" [disabled]="!clienteForm.form.valid">Crear</button>
          <ng-template #elseBlock>
            <button class="btn btn-primary btn-lg" role="button" (click)='update()' [disabled]="!clienteForm.form.valid">Aceptar</button>
          </ng-template>
        </div>
      </form>
    </div>
  </div>
</div>