<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/layout :: head">
</head>
<body>
	<header th:replace="fragments/layout :: header"></header>
	
	<main>
		<div class="album py-5 bg-light">
			<div class="container">
				<div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 g-4">
					<div class="col">
						<div class="card h-100 text-center">
							<img th:src="@{/images/home-img/orders.png}"
								class="card-img-top" alt="ordenes">
							<div class="card-body">
								<h5 class="card-title">Gestion de Ordenes</h5>
								<p class="card-text">create, editar, delete y generar
									salida de ordenes.</p>
							</div>
							<div class="card-footer">
								<a href="/tools-app/order-management/orders" class="btn btn-primary">Ingresar</a>
							</div>
						</div>
					</div>
					<div class="col">
						<div class="card h-100 text-center">
							<img th:src="@{/images/home-img/customers.png}"
								class="card-img-top" alt="customers">
							<div class="card-body">
								<h5 class="card-title">Gestion de Clientes</h5>
								<p class="card-text">create, editar, delete y visualizar
									customers.</p>
							</div>
							<div class="card-footer">
								<a href="/tools-app/customer-management/customers"
									class="btn btn-primary">Ingresar</a>
							</div>
						</div>
					</div>
					<div class="col">
						<div class="card h-100 text-center">
							<img th:src="@{/images/home-img/settings.png}"
								class="card-img-top" alt="ajustes">
							<div class="card-body">
								<h5 class="card-title">Ajustes</h5>
								<p class="card-text">Editar encabezado y pie de pagina de
									impresion.</p>
							</div>
							<div class="card-footer">
								<a href="/ajustes" class="btn btn-primary">Ingresar</a>
							</div>
						</div>
					</div>
					<div class="col">
						<div class="card h-100 text-center">
							<img th:src="@{/images/home-img/accounting.png}"
								class="card-img-top" alt="contabilidad">
							<div class="card-body">
								<h5 class="card-title">Contabildiad</h5>
								<p class="card-text">>penmdiente para la determiand descripcion.</p>
							</div>
							<div class="card-footer">
								<a href="contabilidad" class="btn btn-primary">Ingresar</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</main>

	<footer th:replace="fragments/layout :: footer"> </footer>
</body>
</html>