<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"> </head>
<body>

<header th:replace="layout/layout :: header"></header>

<section class="home py-4">
    <div class="container">
        <div class="row text-md-center">
            <div class="col-12 col-md-6 col-lg-3 mb-3">
                <div class="card">
                    <img th:src="@{/images/home-img/ordenes.png}" class="card-img-top" alt="Ordenes">
                    <div class="card-body">
                        <h5 class="card-title">Gestion de Ordenes</h5>
                        <p class="card-text">Registrar, editar, eliminar y generar salida de ordenes.</p>
                        <a href="/ordenes" class="btn btn-primary">Ingresar</a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3 mb-3">
                <div class="card" >
                    <img th:src="@{/images/home-img/clientes.png}" class="card-img-top" alt="Clientes">
                    <div class="card-body">
                        <h5 class="card-title">Gestion de Clientes</h5>
                        <p class="card-text">Crear, editar, eliminar  y visualizar clientes.</p>
                        <a href="/tools-app/gestion-clientes/clientes" class="btn btn-primary">Ingresar</a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3 mb-3">
                <div class="card" >
                    <img th:src="@{/images/home-img/ajustes.png}" class="card-img-top" alt="Ajustes">
                    <div class="card-body">
                        <h5 class="card-title">Ajustes</h5>
                        <p class="card-text">Editar encabezado y pie de pagina de impresiones.</p>
                        <a href="/ajustes" class="btn btn-primary">Ingresar</a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3 mb-3">
                <div class="card" >
                    <img th:src="@{/images/home-img/contabilidad.png}" class="card-img-top" alt="Contabilidad">
                    <div class="card-body">
                        <h5 class="card-title">Contabildiad</h5>
                        <p class="card-text">penmdiente para la determiand descripcion.</p>
                        <a href="/contabilidad" class="btn btn-primary">Ingresar</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>